<h3>Datos Hijos</h3>

<form class="row g-3">

    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Nombre del Hijo</label>
      <input type="text" class="form-control is-valid" id="nombreHijo"  required>
    </div>

    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Apellidos del Hijo</label>
      <input type="text" class="form-control is-valid" id="apellidoHijo"  required>
    </div>

    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Fecha Nacimieno</label>
      <input type="date" class="form-control is-valid" id="fechaNacimientoHijo"  required>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
